HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.env
### VS Code ###
.vscode/
/.venv/
housekeeping_service/.venv/lib/python3.12/site-packages/aiokafka/errors.py
housekeeping_service/.venv/lib/python3.12/site-packages/aiokafka/structs.py
housekeeping_service/.keys/private.pem
housekeeping_service/.keys/public.pem
